[run]
branch = True
source = {{cookiecutter.repo_name}}
include = {{cookiecutter.repo_name}}/*
omit = {{cookiecutter.repo_name}}/*/tests/*
       {{cookiecutter.repo_name}}/tests/*
       test_*.*
       __init__.py